html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Flamenco', cursive;
}

input::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: center;
}

.btn {
    border-radius: 25px;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 90vh;
    }
    .masthead h1 {
        font-size: 5.5rem;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    /* 0 10px 20px 0 rgba(0,0,0,0.2); */
}

.flip-card {
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    height: 300px;
    /* //border: 1px solid #f1f1f1; */
    perspective: 1000px;
}

.flip-card:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    /* //0 10px 20px 0 rgba(0,0,0,0.2); */
}

.flip-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #66a3ff;
    color: white;
    transform: rotateY(180deg);
    font-family: 'Metal Mania', cursive;
}